@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&family=Inter:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-fantasy-dark text-fantasy-paper font-sans overflow-hidden;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #2c2520; 
}
::-webkit-scrollbar-thumb {
  background: #d4af37; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b08d1e; 
}

@layer utilities {
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #d4af37 #2c2520;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(44, 37, 32, 0.5);
    border-radius: 3px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(212, 175, 55, 0.8);
    border-radius: 3px;
    border: 1px solid rgba(26, 22, 18, 0.5);
  }
}